{% extends 'base.html.twig' %}

{% block title %}CosyPages{% endblock %}

{% block body %}
<body>
    <nav class="navMenu">
      <a href="#">Accueil</a>
      <a href="#">A propos de nous</a>
      <a href="#">Work</a>
      <a href="#">About</a>
      <div class="dot"></div>
    </nav>
 </body>
{% endblock %}
